<!DOCTYPE html>
<html lang="en">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StockFlow</title>

    <!-- PLUGINS CSS STYLE -->
    <!-- Bootstrap -->
    <link href="{{ asset('FrontOffice/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('FrontOffice/plugins/font-awsome/css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- Magnific Popup -->
    <link href="{{ asset('FrontOffice/plugins/magnific-popup/magnific-popup.css')}}" rel="stylesheet">
    <!-- Slick Carousel -->
    <link href="{{ asset('FrontOffice/plugins/slick/slick.css')}}" rel="stylesheet">
    <link href="{{ asset('FrontOffice/plugins/slick/slick-theme.css')}}" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link href="{{ asset('FrontOffice/css/style.css')}}" rel="stylesheet">

    <!-- FAVICON -->
    <link href="{{ asset('FrontOffice/images/favicon.png')}}" rel="shortcut icon">

</head>

<body class="body-wrapper">


<!--========================================
=            Navigation Section            =
=========================================-->

<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
    <div class="container-fluid p-0">
        <!-- logo -->
        <a class="navbar-brand" href="#">
            <img src="{{ asset('FrontOffice/images/lg.png')}}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown active dropdown-slide">
                    <a class="nav-link" href="#" >Home
                        <span>/</span>
                    </a>
                    <!-- Dropdown list -->

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('afficherEntrepotfront') }}">Entrepots
                        <span>/</span>
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-slide">
                    <a class="nav-link" href="#"  data-toggle="dropdown">Produits
                        <span>/</span>
                    </a>
                    <!-- Dropdown list -->
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('afficherProduits') }}">Liste des produits</a>
                        <a class="dropdown-item" href="{{ path('AfficherTopConsulted') }}">TOP Produits</a>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('recrutement_ajout') }}">Demande de recrutement
                        <span>/</span>
                    </a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('publication_affiche2') }}">Forum
                        <span>/</span>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('Blog_affichageF') }}">Blog</a>
                </li>


            </ul>
        </div>
    </div>
</nav>
<section class="page-title bg-title overlay-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>Details</h3>
                </div>
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="{{ path('afficherProduits') }}">Produit</a></li>
                    <li class="breadcrumb-item active">{{ produit.nom }}</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!--====  End of Navigation Section  ====-->


<section class="section single-speaker">
    <div class="container">
        <div class="block">
            <div class="row">
                <div class="col-lg-5 col-md-6 align-self-md-center">



                    <div class="image">
                        <div class="primary-overlay">
                        <img src="{{ asset('../web/uploads/products/'~produit.imageName()) }}" alt="gallery-image" class="img-fluid">

                            <a class="image-popup" data-effect="mfp-with-zoom" href="{{ asset('../web/uploads/products/'~produit.imageName()) }}"><i class="fa fa-picture-o"></i></a>

                        </div>
                    </div>


                </div>
            <div class="col-lg-7 col-md-6 align-self-center">

                <div class="content-block">
                    <div class="name"><h3>{{ produit.nom }}</h3></div>
                    <div class="profession"><p>{{ produit.idCategorie.nom }}</p></div>
                    <div class="details"><p>Quantité : {{ produit.quantite }} U </p><p> Prix : {{ produit.prix }} DT </p><p>Date d'ajout : {{ produit.date }} </p></div>
                    <div class="social-profiles"><h5>Carrefour</h5></div>
                </div>
            </div>

            </div>

        </div>


    </div>



</section>

<!--===========================
=            Affichage la liste des produits            =
============================-->

<!--<section class="section speakers bg-timer overlay-lighter">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="section-title white">
                    <h3>Information sur<span class="alternate"> {{ produit.nom }}</span></h3>

                </div>
            </div>
        </div>
        <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-6">


                    <figure class="figure">
                        <img src="{{ asset('../web/uploads/products/'~produit.imageName()) }}" class="figure-img img-fluid rounded" >

                    </figure>



                    </div>
            <div class="content text-center">
                <div class="section-title white">
                    <h3>Nom : <span class="alternate"> {{ produit.nom }}</span></h3>
                    <h3>Quantité : <span class="alternate"> {{ produit.quantite }} U</span></h3>
                    <h3>Prix : <span class="alternate"> {{ produit.prix }} DT</span></h3>
                    <h3>Entrepot : <span class="alternate"> {{ produit.idCategorie.nom }} </span></h3>

                </div>
            </div>
        </div>



    </div>

</section>
-->
<!--============================
=            Footer            =
=============================-->
</body>
<footer class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <div class="footer-logo">
                        <img src="{{ asset('FrontOffice/images/lgg.png')}}" alt="logo" class="img-fluid">
                    </div>
                    <ul class="social-links-footer list-inline">
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- Subfooter -->
<footer class="subfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="copyright-text">
                    <p><a href="#">StockFlow</a> &#169; 2020 All Right Reserved</p>
                </div>
            </div>
            <div class="col-md-6">
                <a href="#" class="to-top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</footer>


<!-- JAVASCRIPTS -->
<!-- jQuey -->
<script src="{{ asset('FrontOffice/plugins/jquery/jquery.js')}}"></script>
<!-- Popper js -->
<script src="{{ asset('FrontOffice/plugins/popper/popper.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('FrontOffice/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
<!-- Smooth Scroll -->
<script src="{{ asset('FrontOffice/plugins/smoothscroll/SmoothScroll.min.js')}}"></script>
<!-- Isotope -->
<script src="{{ asset('FrontOffice/plugins/isotope/mixitup.min.js')}}"></script>
<!-- Magnific Popup -->
<script src="{{ asset('FrontOffice/plugins/magnific-popup/jquery.magnific-popup.min.js')}}"></script>
<!-- Slick Carousel -->
<script src="{{ asset('FrontOffice/plugins/slick/slick.min.js')}}"></script>
<!-- SyoTimer -->
<script src="{{ asset('FrontOffice/plugins/syotimer/jquery.syotimer.min.js')}}"></script>
<!-- Google Mapl -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
<script type="text/javascript" src="{{ asset('FrontOffice/plugins/google-map/gmap.js')}}"></script>
<!-- Custom Script -->
<script src="{{ asset('FrontOffice/js/custom.js')}}"></script>
</body>

</html>
